Exercise 2-
    Create a markdown cell with the title of the notebook.

Title of the Notebook: Peer graded assignment

Exercise 3-
    Create a markdown cell for an introduction.

Introduction
   Peer graded assignment for the topic tools for data science

Exercise 4-
    Create a markdown cell to list data science languages.

Data science languages are
python,
R,
SQL.

Exercise 5-
    Create a markdown cell to list data science libraries.

Data science libraries are 
tensor flow,
scikit learn,
theano,
NumPy.

Exercise 6-
    Create a markdown cell with a table of Data Science tools

Tools for data science
 | Python|
 |--------|
 | Github |
 |--------|
 | Jupiter notebook|
 |-----------------|

Exercise 7-
    Create a markdown cell introducing arithmetic expression examples

Introducing Arthematic Expression example
a=63
b=59
a+b=?

Exercise 8-
    Create a code cell to multiply and add numbers.

In [22]:
a=59
b=64
#Multiplication of two numbers#
print ("Multiplication of 56 and 84 is",56*84)
print("MULTIPLICATION OF A AND B VALUES IS",a*b)
#Addition Of two numbers#
print ("addition of 63 and 57 is",63+57)
print("Addition of a and b values is",a+b)

Multiplication of 56 and 84 is 4704
MULTIPLICATION OF A AND B VALUES IS 3776
addition of 63 and 57 is 120
Addition of a and b values is 123

Exercise 9-
    Create a code cell to convert minutes to hours.

In [23]:
minutes =600
#hours = ?
print("hours" ,minutes/60)

hours 10.0

Exercise 10-
    Insert a markdown cell to list Objectives.

Objectives
Collecting data.
Processing data.
Exploring and visualizing data.
Analyzing.

Exercise 11 -
    Create a markdown cell to indicate the Authorâ€™s name.

Author Name
Mohammad Tayyab Khan